<h1>Real Time Products</h1>

<div>

    <form>
        <label>Titulo</label>
        <input id="idTitulo" type="text">

        <label>Precio</label>
        <input id="idPrecio" type="text">

        <label>Categoria</label>
        <input id="idCategoria" type="text">

        <label>Descripcion</label>
        <input id="idDescripcion" type="text">

        <label>Stock</label>
        <input id="idStock" type="text">

        <label>Codigo</label>
        <input id="idCodigo" type="text">

        <label>Imagen</label>
        <input id="idImagen" type="text">


        <button id="idBoton" type="submit">Enviar</button>

    </form>

    <form action="">
        <label>Eliminar Producto</label>
        <input id="idEliminar" type="text">

        <button id="botonEliminar">Confirmar</button>
    </form>

</div>
<div id="idProductos">
</div>

<script src="/socket.io/socket.io.js">  </script>
<script src="/js/index.js">  </script>